.flexbox-container {
	display: flex;
	align-items: stretch;
	height: 100vh;

	> div {
		width: 30%;
		padding: $half-space;
		flex: 1;
		background-color: $background--light;

		&:first-child {
			background-color: #FFF;
			margin-right: $half-space;
			width: 70%;
		}
	}
}